---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

---

<Layout title="Welcome to Astro.">
  <main>
    <div class="flex justify-center items-center mt-40">
      <Card
        title="Perfect solution for small business"
        body="Small businesses need to generate leads to grow. You can use tools like Ringy."
				image="/public/hero-image-business-card.png"
				author="Amy Burgess"
				authorImg="/public/avatar-image-business-card.png"
				role="Customer Manger, Solution Oy"
      />
    </div>
  </main>
</Layout>

<style></style>
